// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn.btn-sm.btn-secondary {
    margin-bottom: 10px;
}


body {
    background: url("https://i.pinimg.com/originals/e9/11/70/e91170f13c00f6484fc957d5429d8179.jpg") no-repeat;
    background-size: cover;
}

.custom-bg {
    background: #0000008a;
    border-radius: 8px;


    h1 {
        color: #fff;
    }

    .col-4 {
        margin-bottom: 20px;

        .card {
            height: 100%;
            margin: 0;

            &-body {
                display: flex;
                flex-direction: column;
            }

            p {
                margin: 0;
                font-size: 14px;
            }

            .card-author {
                margin-top: auto;
                font-style: italic;
                color: gray;

            }
            .card-category {
                border-bottom: 1px solid gray;
                margin-bottom: 5px;
            }

            .card-text {
                text-align: justify;
            }
        }


    }
}


.bg-white-heading {
    background: #fff;
    padding: 5px;
    width: fit-content;
}

.btn-bg-white {
    padding: 10px;
    border-radius: 5px;
    background: #fff;
}
.text-shadow-white {
    text-shadow: 2px 1px 2px #fff;
}
